node_modules
dist
.git
.gitignore
Dockerfile
docker-compose.yml
docker-compose.dev.yml
logs
coverage
*.log
.env
.vscode
.github
lambda-service/dist
lambda-service/node_modules
lambda-service/.esbuild
lambda-service/.serverless
lambda-service/.env